@charset "UTF-8";

@font-face {
  font-family: Frutiger;
  font-display: swap;
  src: url("../fonts/Frutiger.woff2") format("woff2"), url("../fonts/Frutiger.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Frutiger;
  font-display: swap;
  src: url("../fonts/Frutiger_bold.woff2") format("woff2"), url("../fonts/Frutiger_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #231f20;
  line-height: 1;
  font-family: "Frutiger";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Frutiger";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.8125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:after {
  left: 0.625rem;
  opacity: 1;
}

.checkbox__input:checked + .checkbox__label::before {
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  height: 0.9375rem;
  border: 1px solid #c6dee4;
  opacity: 0.3;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
  border: 1px solid #ebebee;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.3;
}

.checkbox__text {
  min-width: 100%;
  font-size: 0.75rem;
}

.checkbox__text a {
  text-decoration: underline;
}

.spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.spollers__item {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  color: #003087;
}

.spollers__title {
  text-align: center;
  min-height: 8.75rem;
  width: 100%;
  cursor: default;
  padding: 0.625rem 0.9375rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1.25rem;
  background-color: #003087;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 0.9375rem 1.5625rem;
  background-color: #003087;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.crambs {
  padding: 0.9375rem 0;
}

.crambs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #425563;
  font-size: 0.875rem;
  font-weight: 700;
}

.crambs__list li:not(:last-child) {
  margin-right: 0.1875rem;
}

.crambs__list a {
  font-weight: 400;
}

.top {
  background: url("../img/services/bg.svg") right bottom/cover no-repeat;
}

.top__container {
  font-weight: 700;
}

.top__img {
  margin-bottom: 0.625rem;
  width: 4.125rem;
}

.top__img img {
  width: 100%;
}

.top__title {
  margin-bottom: 0.9375rem;
}

.top__text {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  max-width: 33.9375rem;
}

.quote {
  padding-left: 0.9375rem;
  position: relative;
}

.no-webp .quote::before{
  background: url("../img/trust/bg.png") bottom left/cover no-repeat; }

.quote::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(30.625rem + (100vw - 67.8125rem) / 2);
}

.quote__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  position: relative;
  z-index: 2;
}

.no-webp .quote__text::before{
  background: url("../img/trust/quote.png") 0 0 no-repeat; }

.quote__text::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  height: 2rem;
  margin-right: 0.625rem;
}

.quote__autor {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: right;
  position: relative;
  z-index: 2;
}

.content__title {
  font-weight: 700;
  line-height: 1.1538461538;
  color: #003087;
}

.content__subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
}

.content__text {
  margin-bottom: 2.1875rem;
  line-height: 1.375;
}

.content__text a {
  text-decoration: underline;
}

.content__list li {
  padding-left: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__list li::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #00a9ce;
  margin-top: 0.3125rem;
  margin-right: 0.625rem;
}

.header {
  position: relative;
  z-index: 10;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__call {
  color: #003087;
  font-size: 1.25rem;
  margin-right: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__access {
  padding: 0.625rem 1.4375rem;
  background-color: #41b6e6;
  color: #231f20;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__access::after {
  content: "";
  height: 0.5625rem;
  width: 0.375rem;
  background: url("../img/icons/arrow-btn.svg") 0 0 no-repeat;
  margin-left: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__search-input {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #425563;
  outline: none;
  width: 10.625rem;
  padding-right: 0.625rem;
}

.header__menu {
  margin: 0px -0.9375rem;
}

.header__burger {
  position: relative;
  z-index: 5;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #003087;
  margin-right: -0.9375rem;
  padding: 0 1.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.9375rem;
  color: #003087;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_sub::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.6875rem;
          flex: 0 0 0.6875rem;
  height: 0.4375rem;
  background: url("../img/icons/arrow-submenu.svg") 0 0 no-repeat;
  margin-left: 0.875rem;
}

.icon-menu {
  color: transparent;
  display: none;
}

.no-webp .footer{
  background: url("../img/footer-bg.jpg") bottom left/cover no-repeat; }

.footer__body {
  font-size: 0.875rem;
  padding-bottom: 3.4375rem;
}

.footer__item {
  max-width: 24.375rem;
  width: 100%;
  margin-right: 0.9375rem;
}

.footer__title {
  font-weight: 700;
  padding-bottom: 0.5625rem;
  border-bottom: 1px solid #231f20;
  margin-bottom: 0.75rem;
}

.footer__list-link {
  line-height: 1.5714285714;
}

.footer__rights {
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 1.875rem;
}

.main {
  background-color: #00a499;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: url("../img/main/decor1.svg") center/cover no-repeat;
}

.main::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  height: 100%;
  width: 45%;
  background: url("../img/main/decor3.svg") left top/cover no-repeat;
}

.main__body {
  position: relative;
}

.main__body::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 40%;
  right: 3.125rem;
  background: url("../img/main/decor2.svg") left bottom/cover no-repeat;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0.9375rem 0.9375rem 0.9375rem 0rem;
}

.main__title,
.main__subtitle {
  font-weight: 700;
  line-height: 1.1764705882;
}

.page__about .main__title {
  margin-bottom: 0.9375rem;
}

.main__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  max-width: 26.875rem;
}

.main__buttons {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__btn:nth-child(1) {
  color: #003087;
  background-color: #fff;
  margin-right: 0.625rem;
}

.main__slider {
  height: 100%;
  min-width: calc(50% + (100vw - 67.8125rem) / 2);
  margin-right: -0.9375rem;
}

.main__slide-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  z-index: 4;
  top: 50%;
}

.swiper-button-prev {
  left: -5.625rem;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.swiper-button-next {
  right: -5.625rem;
  -webkit-transform: translate(0px, -50%) rotate(180deg);
      -ms-transform: translate(0px, -50%) rotate(180deg);
          transform: translate(0px, -50%) rotate(180deg);
}

.questions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.questions__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}

.questions__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.questions__list-item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.questions__list-item::before {
  content: "";
  width: 1.125rem;
  height: 0.8125rem;
  background: url("../img/icons/check.svg") 0 0 no-repeat;
  margin-right: 0.3125rem;
}

.questions__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.333%;
          flex: 0 0 24.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #00a499;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__item-text {
  line-height: 1.25;
}

.trust__body {
  border-bottom: 1px solid #005eb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trust__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.1612903226%;
          flex: 0 0 45.1612903226%;
  position: relative;
  margin-left: -0.9375rem;
}

.trust__img {
  position: relative;
  padding-bottom: 100%;
}

.trust__img img {
  right: 0;
  top: 0;
  width: calc(30.625rem + (100vw - 67.8125rem) / 2);
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avon {
  padding: 1.875rem 0;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  text-align: center;
}

.avon p {
  max-width: 48.75rem;
  margin: 0 auto;
}

.services__item {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__item:nth-child(1),
.services__item:nth-child(8) {
  background-color: #0072ce;
  color: #fff;
}

.services__item:nth-child(2),
.services__item:nth-child(7) {
  background-color: #00a499;
}

.services__item:nth-child(3),
.services__item:nth-child(5) {
  background-color: #006747;
  color: #fff;
}

.services__item:nth-child(4),
.services__item:nth-child(9) {
  background-color: #41b6e6;
}

.services__item:nth-child(6) {
  background-color: #005eb8;
  color: #fff;
}

.services__item-img {
  text-align: center;
}

.services__item-text {
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.physio__phone {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.physio__body {
  border-bottom: 1px solid #84b1dd;
}

.physio__quote::before {
  left: 0;
}

.physio__videoblock-title {
  margin-bottom: 1.25rem;
}

.physio__video {
  width: 100%;
  height: 17.5rem;
}

.about__video {
  width: 100%;
  height: 17.5rem;
}

.about__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.1612903226%;
          flex: 0 0 45.1612903226%;
}

.about__form {
  background-color: rgba(0, 168, 206, 0.14);
}

.form__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  text-align: center;
  max-width: 21.875rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #425563;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
}

.form__input {
  margin-bottom: 0.625rem;
}

.form__textarea {
  resize: none;
  height: 6.25rem;
  margin-bottom: 1.125rem;
}

.form__button {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #00a499;
  display: inline-block;
  padding: 0.625rem 1.375rem;
  font-weight: 700;
  font-size: 1.125rem;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .why{
  background: url("../img/why/bg.jpg") left center/cover no-repeat; }

.why__title {
  font-size: 1.625rem;
  font-weight: 700;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .footer__item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (min-width: 31.25em) {
  .header__call-btn {
    display: none;
  }
}

@media (min-width: 47.99875em) {
  .header__main {
    border-bottom: 1px solid #0d66bc;
    padding-bottom: 0.625rem;
  }

  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625rem;
  }

  .header__search {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.4375rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid #e8edee;
  }

  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .questions__body > *:not(:last-child) {
    position: relative;
  }

  .questions__body > *:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 5rem;
    width: 0.0625rem;
    background-color: #005eb8;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .page__about .questions__body > *::after {
    display: none;
  }

  .page__about .questions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .page__about .questions__item {
    display: none;
  }

  .services__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    border-bottom: 1px solid #005eb8;
  }

  .physio__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 47.99875em) and (min-width: 69.6875em) {
  .services__body {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .services__body {
    row-gap: 2.5rem;
  }

  .services__body {
    padding-bottom: 5.3125rem;
  }

  .physio__body {
    -webkit-column-gap: 6.4375rem;
       -moz-column-gap: 6.4375rem;
            column-gap: 6.4375rem;
  }

  .about__content {
    margin-right: 6.5rem;
  }
}

@media (min-width: 69.6875em) {
  .spollers {
    -webkit-column-gap: 4.25rem;
       -moz-column-gap: 4.25rem;
            column-gap: 4.25rem;
  }

  .spollers {
    row-gap: 3.125rem;
  }

  .top {
    padding-top: 3.125rem;
  }

  .top {
    padding-bottom: 4.6875rem;
  }

  .top__title {
    font-size: 2.375rem;
  }

  .quote {
    padding-top: 2.6875rem;
  }

  .quote {
    padding-right: 3.4375rem;
  }

  .quote {
    padding-bottom: 2.3125rem;
  }

  .quote__text {
    margin-bottom: 2.1875rem;
  }

  .content__title {
    font-size: 1.625rem;
  }

  .content__title {
    margin-bottom: 1.5625rem;
  }

  .content__text p:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .content__list {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    white-space: nowrap;
  }

  .footer {
    padding-top: 2.1875rem;
  }

  .main__title,
  .main__subtitle {
    font-size: 2.125rem;
  }

  .main__title {
    margin-bottom: 2.5rem;
  }

  .main__subtitle {
    margin-bottom: 3.125rem;
  }

  .questions {
    padding-top: 1.875rem;
  }

  .questions {
    padding-bottom: 3.125rem;
  }

  .questions__body {
    margin-left: -1.5625rem;
  }

  .questions__body {
    margin-right: -1.5625rem;
  }

  .questions__list {
    padding-left: 1.5625rem;
  }

  .questions__list {
    padding-right: 1.5625rem;
  }

  .questions__item {
    padding-left: 1.5625rem;
  }

  .questions__item {
    padding-right: 1.5625rem;
  }

  .questions__item-img {
    margin-right: 0.9375rem;
  }

  .trust__body {
    padding-bottom: 5rem;
  }

  .trust__left {
    margin-right: 6.8125rem;
  }

  .services__item {
    padding-top: 2.5rem;
  }

  .services__item {
    padding-bottom: 1.5625rem;
  }

  .services__item-img {
    margin-bottom: 1.25rem;
  }

  .services__item-text {
    font-size: 1.25rem;
  }

  .physio__phone {
    font-size: 1.25rem;
  }

  .physio__phone {
    margin-bottom: 3.75rem;
  }

  .physio__phone {
    margin-top: 1.875rem;
  }

  .physio__phone-img {
    margin-right: 1.0625rem;
  }

  .physio__body {
    padding-bottom: 4.6875rem;
  }

  .physio__quote {
    padding-left: 2.8125rem;
  }

  .physio__quote {
    margin-bottom: 3.9375rem;
  }

  .about {
    padding-bottom: 5.3125rem;
  }

  .about__form {
    padding: 2.1875rem;
  }

  .form__button {
    margin-top: 1.5625rem;
  }

  .why {
    padding-top: 5.5rem;
  }

  .why {
    padding-bottom: 8.25rem;
  }

  .why__title {
    margin-bottom: 2.8125rem;
  }
}

@media (max-width: 78.125em) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .spollers {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .questions__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5625rem;
  }

  .questions__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .questions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 47.99875em) {
  .spollers {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .crambs__list {
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #005eb8;
  }

  .top__img {
    width: 2.5rem;
  }

  .header__logo {
    margin-bottom: 0.625rem;
  }

  .header__logo img {
    width: 7.625rem;
  }

  .header__action {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__call {
    margin-right: 0;
  }

  .header__access {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.9375rem;
  }

  .header__search-input {
    display: none;
  }

  .header__search-button {
    padding: 0 1.25rem;
  }

  .header__search-button img {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  .menu__body {
    position: fixed;
    z-index: 2;
    right: -120%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 1.875rem;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    white-space: nowrap;
  }

  .icon-menu {
    margin-left: auto;
    display: block;
    position: relative;
    min-width: 1.1875rem;
    height: 0.875rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main::before {
    height: 80%;
    background: url("../img/main/decor1.svg") center/cover no-repeat;
  }

  .main__content {
    padding: 1.875rem 0 2.8125rem;
  }

  .main__slider {
    margin-left: -0.9375rem;
  }

  .page__about .questions {
    padding-top: 0;
  }

  .questions__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #005eb8;
  }

  .questions__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .questions__item:last-child {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #005eb8;
  }

  .trust__left {
    display: none;
  }

  .page__services .questions {
    padding-bottom: 0;
  }

  .services__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .physio__phone a {
    text-decoration: underline;
  }

  .physio__phone {
    padding: 0.9375rem 0;
    background-color: #003087;
    color: #fff;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .physio__quote::before {
    left: -0.9375rem;
    width: calc(100% + 1.875rem);
  }

  .physio__quote {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
  }

  .about__content {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 31.25em) {
  .header__links {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.25rem;
    border-left: 1px solid #005eb8;
    border-right: 1px solid #005eb8;
  }

  .header__call span {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .main__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .services__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 5rem;
  }

  .services__item-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    margin-right: 1.75rem;
    margin-bottom: 0;
  }

  .services__item-img img {
    width: 100%;
  }

  .services__item-text {
    text-align: left;
  }

  .about__form {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}

@media (max-width: 23.4375em) {
  .spollers {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .spollers {
    row-gap: 0.9375rem;
  }

  .top {
    padding-top: 1.875rem;
  }

  .top {
    padding-bottom: 2.5rem;
  }

  .top__title {
    font-size: 1.5rem;
  }

  .quote {
    padding-top: 0.0000000625rem;
  }

  .quote {
    padding-right: 0.0000000625rem;
  }

  .quote {
    padding-bottom: 0.0000000625rem;
  }

  .quote__text {
    margin-bottom: 0.9375rem;
  }

  .content__title {
    font-size: 1.375rem;
  }

  .content__title {
    margin-bottom: 1.125rem;
  }

  .content__text p:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .content__list {
    margin-bottom: 1.125rem;
  }

  .footer {
    padding-top: 1.5625rem;
  }

  .main__title,
  .main__subtitle {
    font-size: 1.5rem;
  }

  .main__title {
    margin-bottom: 1.875rem;
  }

  .main__subtitle {
    margin-bottom: 1.875rem;
  }

  .questions {
    padding-top: 1.25rem;
  }

  .questions {
    padding-bottom: 1.25rem;
  }

  .questions__body {
    margin-left: 0.0000000625rem;
  }

  .questions__body {
    margin-right: 0.0000000625rem;
  }

  .questions__list {
    padding-left: 0.0000000625rem;
  }

  .questions__list {
    padding-right: 0.0000000625rem;
  }

  .questions__item {
    padding-left: 0.0000000625rem;
  }

  .questions__item {
    padding-right: 0.0000000625rem;
  }

  .questions__item-img {
    margin-right: 0.625rem;
  }

  .trust__body {
    padding-bottom: 2.5rem;
  }

  .trust__left {
    margin-right: 0.0000000625rem;
  }

  .services__item {
    padding-top: 0.75rem;
  }

  .services__item {
    padding-bottom: 0.75rem;
  }

  .services__item-img {
    margin-bottom: 0.625rem;
  }

  .services__item-text {
    font-size: 1rem;
  }

  .physio__phone {
    font-size: 1rem;
  }

  .physio__phone {
    margin-bottom: 1.25rem;
  }

  .physio__phone {
    margin-top: 1.25rem;
  }

  .physio__phone-img {
    margin-right: 0.5rem;
  }

  .physio__body {
    padding-bottom: 2.1875rem;
  }

  .physio__quote {
    padding-left: 0.9375rem;
  }

  .physio__quote {
    margin-bottom: 1.875rem;
  }

  .about {
    padding-bottom: 2.5rem;
  }

  .about__form {
    padding: 0.9375rem;
  }

  .form__button {
    margin-top: 1.25rem;
  }

  .why {
    padding-top: 2.8125rem;
  }

  .why {
    padding-bottom: 2.8125rem;
  }

  .why__title {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 23.4375em) and (max-width: 69.6875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem )) or (column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem ))) {
    .spollers {
      -webkit-column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem );
         -moz-column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem );
              column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem )) or (column-gap: clamp( 0.625rem , -1.2119932432rem  +  7.8378378378vw , 4.25rem ))) {
    .spollers {
      -webkit-column-gap: calc(0.625rem + 3.625 * (100vw - 23.4375rem) / 46.25);
         -moz-column-gap: calc(0.625rem + 3.625 * (100vw - 23.4375rem) / 46.25);
              column-gap: calc(0.625rem + 3.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (row-gap: clamp( 0.9375rem , -0.1710304054rem  +  4.7297297297vw , 3.125rem )) {
    .spollers {
      row-gap: clamp( 0.9375rem , -0.1710304054rem  +  4.7297297297vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , -0.1710304054rem  +  4.7297297297vw , 3.125rem )) {
    .spollers {
      row-gap: calc(0.9375rem + 2.1875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem )) {
    .top {
      padding-top: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem )) {
    .top {
      padding-top: calc(1.875rem + 1.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3914695946rem  +  4.7297297297vw , 4.6875rem )) {
    .top {
      padding-bottom: clamp( 2.5rem , 1.3914695946rem  +  4.7297297297vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3914695946rem  +  4.7297297297vw , 4.6875rem )) {
    .top {
      padding-bottom: calc(2.5rem + 2.1875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0565878378rem  +  1.8918918919vw , 2.375rem )) {
    .top__title {
      font-size: clamp( 1.5rem , 1.0565878378rem  +  1.8918918919vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0565878378rem  +  1.8918918919vw , 2.375rem )) {
    .top__title {
      font-size: calc(1.5rem + 0.875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -1.3619086896rem  +  5.8108106757vw , 2.6875rem )) {
    .quote {
      padding-top: clamp( 0.0000000625rem , -1.3619086896rem  +  5.8108106757vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.3619086896rem  +  5.8108106757vw , 2.6875rem )) {
    .quote {
      padding-top: calc(0.0000000625rem + 2.6874999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -1.7419762572rem  +  7.4324322973vw , 3.4375rem )) {
    .quote {
      padding-right: clamp( 0.0000000625rem , -1.7419762572rem  +  7.4324322973vw , 3.4375rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -1.7419762572rem  +  7.4324322973vw , 3.4375rem )) {
    .quote {
      padding-right: calc(0.0000000625rem + 3.4374999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -1.1718749058rem  +  4.9999998649vw , 2.3125rem )) {
    .quote {
      padding-bottom: clamp( 0.0000000625rem , -1.1718749058rem  +  4.9999998649vw , 2.3125rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -1.1718749058rem  +  4.9999998649vw , 2.3125rem )) {
    .quote {
      padding-bottom: calc(0.0000000625rem + 2.3124999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem )) {
    .quote__text {
      margin-bottom: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem )) {
    .quote__text {
      margin-bottom: calc(0.9375rem + 1.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2483108108rem  +  0.5405405405vw , 1.625rem )) {
    .content__title {
      font-size: clamp( 1.375rem , 1.2483108108rem  +  0.5405405405vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2483108108rem  +  0.5405405405vw , 1.625rem )) {
    .content__title {
      font-size: calc(1.375rem + 0.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__title {
      margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__title {
      margin-bottom: calc(1.125rem + 0.4375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__text p:not(:last-child) {
      margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__text p:not(:last-child) {
      margin-bottom: calc(1.125rem + 0.4375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__list {
      margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.9032939189rem  +  0.9459459459vw , 1.5625rem )) {
    .content__list {
      margin-bottom: calc(1.125rem + 0.4375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.245777027rem  +  1.3513513514vw , 2.1875rem )) {
    .footer {
      padding-top: clamp( 1.5625rem , 1.245777027rem  +  1.3513513514vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.245777027rem  +  1.3513513514vw , 2.1875rem )) {
    .footer {
      padding-top: calc(1.5625rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.183277027rem  +  1.3513513514vw , 2.125rem )) {
    .main__title,
    .main__subtitle {
      font-size: clamp( 1.5rem , 1.183277027rem  +  1.3513513514vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.183277027rem  +  1.3513513514vw , 2.125rem )) {
    .main__title,
    .main__subtitle {
      font-size: calc(1.5rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.558277027rem  +  1.3513513514vw , 2.5rem )) {
    .main__title {
      margin-bottom: clamp( 1.875rem , 1.558277027rem  +  1.3513513514vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.558277027rem  +  1.3513513514vw , 2.5rem )) {
    .main__title {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem )) {
    .main__subtitle {
      margin-bottom: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2415540541rem  +  2.7027027027vw , 3.125rem )) {
    .main__subtitle {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem )) {
    .questions {
      padding-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem )) {
    .questions {
      padding-top: calc(1.25rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2998310811rem  +  4.0540540541vw , 3.125rem )) {
    .questions {
      padding-bottom: clamp( 1.25rem , 0.2998310811rem  +  4.0540540541vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2998310811rem  +  4.0540540541vw , 3.125rem )) {
    .questions {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-left: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem )) {
    .questions__body {
      margin-left: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem );
    }
}

@supports not (margin-left: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem )) {
    .questions__body {
      margin-left: calc(0.0000000625rem + -1.5625000625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-right: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem )) {
    .questions__body {
      margin-right: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem );
    }
}

@supports not (margin-right: clamp( -1.5625rem , 0.7918075266rem  +  -3.3783785135vw , 0.0000000625rem )) {
    .questions__body {
      margin-right: calc(0.0000000625rem + -1.5625000625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__list {
      padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__list {
      padding-left: calc(0.0000000625rem + 1.5624999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__list {
      padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__list {
      padding-right: calc(0.0000000625rem + 1.5624999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__item {
      padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__item {
      padding-left: calc(0.0000000625rem + 1.5624999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__item {
      padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -0.7918073383rem  +  3.3783782432vw , 1.5625rem )) {
    .questions__item {
      padding-right: calc(0.0000000625rem + 1.5624999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-right: clamp( 0.625rem , 0.4666385135rem  +  0.6756756757vw , 0.9375rem )) {
    .questions__item-img {
      margin-right: clamp( 0.625rem , 0.4666385135rem  +  0.6756756757vw , 0.9375rem );
    }
}

@supports not (margin-right: clamp( 0.625rem , 0.4666385135rem  +  0.6756756757vw , 0.9375rem )) {
    .questions__item-img {
      margin-right: calc(0.625rem + 0.3125 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.2331081081rem  +  5.4054054054vw , 5rem )) {
    .trust__body {
      padding-bottom: clamp( 2.5rem , 1.2331081081rem  +  5.4054054054vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.2331081081rem  +  5.4054054054vw , 5rem )) {
    .trust__body {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -3.4522803112rem  +  14.7297295946vw , 6.8125rem )) {
    .trust__left {
      margin-right: clamp( 0.0000000625rem , -3.4522803112rem  +  14.7297295946vw , 6.8125rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -3.4522803112rem  +  14.7297295946vw , 6.8125rem )) {
    .trust__left {
      margin-right: calc(0.0000000625rem + 6.8124999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 0.75rem , -0.1368243243rem  +  3.7837837838vw , 2.5rem )) {
    .services__item {
      padding-top: clamp( 0.75rem , -0.1368243243rem  +  3.7837837838vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , -0.1368243243rem  +  3.7837837838vw , 2.5rem )) {
    .services__item {
      padding-top: calc(0.75rem + 1.75 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.3382601351rem  +  1.7567567568vw , 1.5625rem )) {
    .services__item {
      padding-bottom: clamp( 0.75rem , 0.3382601351rem  +  1.7567567568vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.3382601351rem  +  1.7567567568vw , 1.5625rem )) {
    .services__item {
      padding-bottom: calc(0.75rem + 0.8125 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.308277027rem  +  1.3513513514vw , 1.25rem )) {
    .services__item-img {
      margin-bottom: clamp( 0.625rem , 0.308277027rem  +  1.3513513514vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.308277027rem  +  1.3513513514vw , 1.25rem )) {
    .services__item-img {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem )) {
    .services__item-text {
      font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem )) {
    .services__item-text {
      font-size: calc(1rem + 0.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem )) {
    .physio__phone {
      font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8733108108rem  +  0.5405405405vw , 1.25rem )) {
    .physio__phone {
      font-size: calc(1rem + 0.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0168918919rem  +  5.4054054054vw , 3.75rem )) {
    .physio__phone {
      margin-bottom: clamp( 1.25rem , -0.0168918919rem  +  5.4054054054vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0168918919rem  +  5.4054054054vw , 3.75rem )) {
    .physio__phone {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem )) {
    .physio__phone {
      margin-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.933277027rem  +  1.3513513514vw , 1.875rem )) {
    .physio__phone {
      margin-top: calc(1.25rem + 0.625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-right: clamp( 0.5rem , 0.2149493243rem  +  1.2162162162vw , 1.0625rem )) {
    .physio__phone-img {
      margin-right: clamp( 0.5rem , 0.2149493243rem  +  1.2162162162vw , 1.0625rem );
    }
}

@supports not (margin-right: clamp( 0.5rem , 0.2149493243rem  +  1.2162162162vw , 1.0625rem )) {
    .physio__phone-img {
      margin-right: calc(0.5rem + 0.5625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.9206081081rem  +  5.4054054054vw , 4.6875rem )) {
    .physio__body {
      padding-bottom: clamp( 2.1875rem , 0.9206081081rem  +  5.4054054054vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.9206081081rem  +  5.4054054054vw , 4.6875rem )) {
    .physio__body {
      padding-bottom: calc(2.1875rem + 2.5 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.0126689189rem  +  4.0540540541vw , 2.8125rem )) {
    .physio__quote {
      padding-left: clamp( 0.9375rem , -0.0126689189rem  +  4.0540540541vw , 2.8125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.0126689189rem  +  4.0540540541vw , 2.8125rem )) {
    .physio__quote {
      padding-left: calc(0.9375rem + 1.875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8298141892rem  +  4.4594594595vw , 3.9375rem )) {
    .physio__quote {
      margin-bottom: clamp( 1.875rem , 0.8298141892rem  +  4.4594594595vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8298141892rem  +  4.4594594595vw , 3.9375rem )) {
    .physio__quote {
      margin-bottom: calc(1.875rem + 2.0625 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0747466216rem  +  6.0810810811vw , 5.3125rem )) {
    .about {
      padding-bottom: clamp( 2.5rem , 1.0747466216rem  +  6.0810810811vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0747466216rem  +  6.0810810811vw , 5.3125rem )) {
    .about {
      padding-bottom: calc(2.5rem + 2.8125 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem )) {
    .about__form {
      padding: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.3040540541rem  +  2.7027027027vw , 2.1875rem )) {
    .about__form {
      padding: calc(0.9375rem + 1.25 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-top: clamp( 1.25rem , 1.0916385135rem  +  0.6756756757vw , 1.5625rem )) {
    .form__button {
      margin-top: clamp( 1.25rem , 1.0916385135rem  +  0.6756756757vw , 1.5625rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 1.0916385135rem  +  0.6756756757vw , 1.5625rem )) {
    .form__button {
      margin-top: calc(1.25rem + 0.3125 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.4505912162rem  +  5.8108108108vw , 5.5rem )) {
    .why {
      padding-top: clamp( 2.8125rem , 1.4505912162rem  +  5.8108108108vw , 5.5rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.4505912162rem  +  5.8108108108vw , 5.5rem )) {
    .why {
      padding-top: calc(2.8125rem + 2.6875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 0.0570101351rem  +  11.7567567568vw , 8.25rem )) {
    .why {
      padding-bottom: clamp( 2.8125rem , 0.0570101351rem  +  11.7567567568vw , 8.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 0.0570101351rem  +  11.7567567568vw , 8.25rem )) {
    .why {
      padding-bottom: calc(2.8125rem + 5.4375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3999155405rem  +  2.027027027vw , 2.8125rem )) {
    .why__title {
      margin-bottom: clamp( 1.875rem , 1.3999155405rem  +  2.027027027vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3999155405rem  +  2.027027027vw , 2.8125rem )) {
    .why__title {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 23.4375rem) / 46.25);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 69.6875em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem )) or (column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem ))) {
    .services__body {
      -webkit-column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem );
         -moz-column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem );
              column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem )) or (column-gap: clamp( 0.625rem , -1.2753378378rem  +  8.1081081081vw , 4.375rem ))) {
    .services__body {
      -webkit-column-gap: calc(0.625rem + 3.75 * (100vw - 23.4375rem) / 46.25);
         -moz-column-gap: calc(0.625rem + 3.75 * (100vw - 23.4375rem) / 46.25);
              column-gap: calc(0.625rem + 3.75 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (row-gap: clamp( 0.625rem , -0.3251689189rem  +  4.0540540541vw , 2.5rem )) {
    .services__body {
      row-gap: clamp( 0.625rem , -0.3251689189rem  +  4.0540540541vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , -0.3251689189rem  +  4.0540540541vw , 2.5rem )) {
    .services__body {
      row-gap: calc(0.625rem + 1.875 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -2.6921451761rem  +  11.4864863514vw , 5.3125rem )) {
    .services__body {
      padding-bottom: clamp( 0.0000000625rem , -2.6921451761rem  +  11.4864863514vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -2.6921451761rem  +  11.4864863514vw , 5.3125rem )) {
    .services__body {
      padding-bottom: calc(0.0000000625rem + 5.3124999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem )) or (column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem ))) {
    .physio__body {
      -webkit-column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem );
         -moz-column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem );
              column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem )) or (column-gap: clamp( 0.0000000625rem , -3.2622465274rem  +  13.9189187838vw , 6.4375rem ))) {
    .physio__body {
      -webkit-column-gap: calc(0.0000000625rem + 6.4374999375 * (100vw - 23.4375rem) / 46.25);
         -moz-column-gap: calc(0.0000000625rem + 6.4374999375 * (100vw - 23.4375rem) / 46.25);
              column-gap: calc(0.0000000625rem + 6.4374999375 * (100vw - 23.4375rem) / 46.25);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -3.2939188247rem  +  14.0540539189vw , 6.5rem )) {
    .about__content {
      margin-right: clamp( 0.0000000625rem , -3.2939188247rem  +  14.0540539189vw , 6.5rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -3.2939188247rem  +  14.0540539189vw , 6.5rem )) {
    .about__content {
      margin-right: calc(0.0000000625rem + 6.4999999375 * (100vw - 23.4375rem) / 46.25);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 23.4375em) {
  .services__body {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .services__body {
    row-gap: 0.625rem;
  }

  .services__body {
    padding-bottom: 0.0000000625rem;
  }

  .physio__body {
    -webkit-column-gap: 0.0000000625rem;
       -moz-column-gap: 0.0000000625rem;
            column-gap: 0.0000000625rem;
  }

  .about__content {
    margin-right: 0.0000000625rem;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #042664;
  }

  .crambs__list a:hover {
    text-decoration: underline;
  }

  .header__call:hover {
    color: #41b6e6;
  }

  .header__access:hover {
    background-color: #3898be;
  }

  .header__access:hover::after {
    -webkit-transform: translate(3px, 0px);
        -ms-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
  }

  .menu__link:hover {
    color: #41b6e6;
  }

  .footer__list-link:hover {
    text-decoration: underline;
  }

  .footer__rights a:hover {
    text-decoration: underline;
  }

  .main__btn:nth-child(1):hover {
    color: #fff;
    background-color: #003087;
  }

  .questions__item:hover {
    text-decoration: underline;
  }

  .services__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .physio__phone a:hover {
    text-decoration: underline;
  }

  .form__button:hover {
    background-color: #02837a;
  }
}

.webp .quote::before{ background: url(../img/trust/bg.webp) bottom left/cover no-repeat; }

.webp .quote__text::before{ background: url(../img/trust/quote.webp) 0 0 no-repeat; }

.webp .footer{ background: url(../img/footer-bg.webp) bottom left/cover no-repeat; }

.webp .why{ background: url(../img/why/bg.webp) left center/cover no-repeat; }